@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Baloo Bhai 2", sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(99, 166, 245);
}

#card{
    border-radius: 10px;
    height:auto 450px;
    width: 320px;
    background-color: white;
    padding: 22px;
    text-align: center;   
}

#card img{
    height: 50%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;    
}

#card h1{
    font-size: 27px;
    font-weight: 800;
    margin: 10px 0;
}

#card h5{
    font-size: 25px;
    color: red;
    margin-top:-11px;
}

#card p{
    margin: 5px;
    text-align:justify;
}


#btn-cont button{
    font-size: 15px;
    font-weight:bold;
    padding: 5px 12px 5px 12px;
    margin: 9px;
    border-radius: 6px;
    /* border: none; */
    cursor: pointer;
    background-color: rgb(6, 153, 167);
    color: rgb(240, 249, 255);
    /* object-position: center; */
}

#btn-cont #remove{
    background-color: rgb(101, 100, 100);
}

